body {
    background-color: #e1f5fe;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    margin: auto;
    width: fit-content;
    padding: 20px 40px;
    border: 1px solid #1A1818;
    background-color: #4dd0e1; 
    opacity: 0.9;
    margin-top: 30px;
    border-radius: 35px; 
}

#cheatmode {
    color: whitesmoke;
    text-align: center;
    background-color: #ff0404;
    padding: 15px;
    width: 90px;
    border-radius: 12px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #1A1818
}
#leipateksti {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    margin: auto;
    width: 265px;
    border: 1px solid #1A1818;
    background-color: #4dd0e1; 
    border-radius: 25px;
    padding: 12px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 16px;
    margin-top: 25px;
    align-items: flex-start;
}

.luukku {
    background-color: white;
    padding: 15px;
    min-width: 90px;
    max-width: 300px;
    border-radius: 12px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    align-self: flex-start;
    transition: all 0.3s ease;
    white-space: normal;
    word-wrap: break-word;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.luukku:hover {
    transform: scale(1.05);
    background-color: #4dd0e1; 
    color: white;
}
#l1 {
    background-color:rgb(255, 35, 171)
}
#l2 {
    background-color:rgb(204, 183, 45)
}
#l3 {
    background-color:rgb(96, 171, 20)
}
#l4 {
    background-color:rgb(204, 11, 11)
}
#l5 {
    background-color:#0cd7f2
}
#l6 {
    background-color:rgb(26, 168, 35)
}
#l7 {
    background-color:rgb(184, 150, 109)
}
#l8 {
    background-color:blue
}
#l9{
    background-color:rgb(233, 195, 29)
}
#l10 {
    background-color:rgb(190, 187, 17)
}
#l11 {
    background-color:rgb(255, 85, 0)
}
#l12 {
    background-color:#373131
}
#l13 {
    background-color:rgb(108, 219, 17)
}