body {
    background-color: #31a8c0;
    
}
h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    margin: auto;
    width: 325px;
    border: 1px solid #1A1818;
    background-color: #3BC1EE;
    opacity: 85%;
    margin-top: 30px;
}
p {
    color: whitesmoke;
    opacity: 85%;
    font-size: 16px;
    text-align: center;
    margin: auto;
    width: 265px;
    border: 1px solid #1A1818;
    background-color: #3BC1EE;
}
.flex-container {
    display: flex;
    justify-content:space-around;
    padding: 20px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.flex-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }